<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        hr {
            margin: 2rem 0;
        }
    </style>
</head>
<body ng-app="funStuff">
    <h1>Angular</h1>
    <p>{{a=5}}</p>
    <p>{{a}}</p>

    <hr>

    <input type="text" ng-model="coolBinding">
    <span>this: {{coolBinding}}</span>

    <hr>

    <p ng-init="allowed=false">
        The Secret Code is
        <span ng-show="allowed">
            24601
        </span>
        <span ng-hide="allowed">
            Non yo busness
        </span>
        <div>
            <input type="button" value="toggle" ng-click="allowed=!allowed">
        </div>
    </p>

    <hr>
    
    <div ng-view>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ctrl/msg.js"></script>
    <script src="js/ctrl/name.js"></script>
    <script src="js/ctrl/todo.js"></script>
    <script src="js/ctrl/song.js"></script>
    <script src="js/factories/song.js"></script>
</body>
</html>